.text{
    color:#35322e;  
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.text-bold{
    font-weight: 700;
}

.text-italic{
    font-style: italic;
}

.bg-ligt{
    background-color: #a18c134b;
}

.de-flex{
display: flex;
}

.justify-content-space{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

section.intro{
    padding: 50px 30px
}

.novedades_articulo{
    width: 80%;
    height: auto;
}
.noticia{
    background-color: aliceblue;
}
.novedad-a{
    width: 80%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin: 50px auto;
    padding: 20px 30px;
    display: flex;
}
.text-dark{
    color: black;
}
.contenedor{
    height: 30px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconos{
    padding: 6px;
    margin: auto;
}

.img{
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 55px;
}
.carousel-inner img{
    object-fit:cover;
    height: 60vh;
    width: 100%;
}

.video {
    text-align: end;
    
}

.item {
    position: absolute;
    left: 100px;
    top: 200px;
}

.container1 {
    display: flex;
    align-content: center;
}

$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
);

#contenedornav {
    width: 1200px;
    margin: 0 auto;
}

    width: 100%;

$bgrblu: brown;
$bgrli: grey;

.image{
    width: 99%;
}

.vid{
    margin: auto;
}

.continer2 {
    width: 75vw;
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
}

.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.galeria img{
    max-width: 400px;
    padding:1rem;
}